@model TechJobs.ViewModels.NewJobViewModel

<div asp-validation-summary="All"></div>

<form asp-controller="Job" asp-action="New" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="EmployerID"></label>
        <select asp-for="EmployerID" asp-items="Model.Employers"></select>
    </div>

    <div class="form-group">
        <label asp-for="Locations">
            <select name="LocationID" asp-for="Locations" asp-items="Model.Locations"></select>
            <span asp-validation-for="Locations"></span>
        </label>
    </div>
    <div class="form-group">
        <label asp-for="CoreCompetencies">
            <select name="CoreCompetencyID" asp-for="CoreCompetencies" asp-items="Model.CoreCompetencies"></select>
            <span asp-validation-for="CoreCompetencies"></span>
        </label>
    </div>
    <div class="form-group">
        <label asp-for="PositionTypes">
            <select name="PositionID" asp-for="PositionTypes" asp-items="Model.PositionTypes"></select>
            <span asp-validation-for="PositionTypes"></span>
        </label>
    </div>

    <input type="submit" value="Add Job" />
</form>